<div class="row">
  <h1>About</h1>
  Our lab focuses on research in systems, networking and architecture.
  We are working on projects related to media streaming, peer-to-peer systems, wireless sensor networks, multicore computing, operating systems, virtual machine technology, video game engines and more.
  We are always looking for bright graduate and undergraduate students to join our lab. Feel free to contact us if have superb educational background, strong leadership qualities and enjoy systems or networks.
  (Lab flyer.)

</div>
