---
layout: compress
---

{% include head.html %}

<body {% if page.pageclass %} class="{{ page.pageclass }}" {% endif %}>

    {%include navigation.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-12 contentarea" style="margin-top:10pt">
        <div class="container">
          <div class="row">
            {% if page.title %}
            <header class="pageheader">
              <h1>{{ page.title }}</h1>
            </header>
            {% endif %} {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>

{% include footer.html %}

{% include scripts.html %}


</body>
