---
layout: compress
---

 {% include head.html %}

    <body {% if page.pageclass %} class="{{ page.pageclass }}"{% endif %}>

      {% include navigation.html %}

      <div class="container">
        <div class="row">
          <div class="col-md-12 contentarea">
            <div class="container">  <!-- container -->
              <div class="row"> <!-- mainpage_row -->
                <div class="col-sm-2 hidden-sm hidden-xs" style="margin-top: 40px;"> <!-- side bar-->
                  <br>
                  <div align="center">
                    <img src="{{ site.baseurl }}/assets/images/sfuarch.logo.jpg" width="100%">
                    <p><span style="font-weight: bold;">Computer Architecture Lab</span><br>
                      <a href="http://www.cs.sfu.ca">School of Computing Science</a><br>
                      <a href="http://www.sfu.ca">Simon Fraser University </a><br>
                    </p>
                  </div>
                      <br>
                  <div align="left">
                  <h3>Fast Access</h3>
                  <nav>
                      <ul style="list-style-type: none;padding-left: 5px;">
                        <li class="next"><a href="#faculty">Faculty<span aria-hidden="true">&rarr;</span></a></li>
                        {% if site.data.postdoc %}
                        <li class="next"><a  href="#postdoc">Postdocs<span aria-hidden="true">&rarr;</span></a></li>
                        {% endif %}
                        <li class="next"><a  href="#phd">PHD Students<span aria-hidden="true">&rarr;</span></a></li>
                        <li class="next"><a  href="#msc">Master Students<span aria-hidden="true">&rarr;</span></a></li>
                        <!--<li class="next"><a  href="#undergraduate">Undergraduate Students<span aria-hidden="true">&rarr;</span></a></li>-->
                        <!--<li class="next"><a href="#adjunct">Adjunct Members<span aria-hidden="true">&rarr;</span></a></li>-->
                        <li class="next"><a href="#alumni">Alumnae and Alumni<span aria-hidden="true">&rarr;</span></a></li>
                      </ul>
                  </nav>
                      <!--<p> Members-->
                      <!--  <a class="btn btn-sm" href="#faculty">Faculty</a>-->
                      <!--  {% if site.data.postdoc %}-->
                      <!--  <a class="btn btn-sm" href="#postdoc">Postdocs</a>-->
                      <!--  {% endif %}-->
                      <!--  <a class="btn btn-sm" href="#phd">PHD Students</a>-->
                      <!--  <a class="btn btn-sm" href="#msc">Master Students</a>-->
                      <!--  <a class="btn btn-sm " href="#undergraduate">Undergraduate Students</a>-->
                      <!--</p>-->
                      <!--<p>-->
                      <!--  <a class="btn btn-sm" href="#adjunct">Adjunct Members </a>-->
                      <!--</p>-->
                      <!--<p>-->
                      <!--  <a class="btn btn-sm" href="#alumni">Lab Alumnae and Alumni</a>-->
                      <!--</p>-->
                  </div>
                </div>
                <div class="col-md-10"> <!-- content -->
                  <br>
                  {% if page.title  %}
                  <header class="pageheader">
                    <h1>{{ page.title }}</h1>
                  </header>
                  {% endif %}
                  {{ content }}
                </div><!--end of  content -->
              </div><!--end of mainpage_row -->
            </div><!--end of container -->
          </div>
        </div>
      </div>

      <div id="footer">
        <div class="container footer" align="center">
          &copy; SFU Computer Architecture Lab.
        </div>
      </div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{{ site.url }}{{ site.baseurl }}/js/jquery.js"></script>
      <script src="{{ site.url }}{{ site.baseurl }}/js/bibtex_js.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>

      <script type="text/javascript">
      $(function () {
        $("[data-toggle='tooltip']").tooltip();
      });

      bibtex_reader = new BibtexDisplay()
      constraints = {};
      constraints['LAST'] = 5;

      function bibtex_js_draw() {
        $(".bibtex_template").hide();
        bibtex_reader.displayBibtex($("#bibtex_input").val(), $("#bibtex_display"),constraints);
      }

      $(document).ready( function() {
        $("#bibtex_input").load( "publications/publications.bib",   bibtex_js_draw );
      } );
      </script>


    </body>
